body{
    margin: auto;
    margin-top: 3em;
    width: 50%;
    text-align: center;
}
h1{
    font-size: 4em;
}
#guessword{
    font-size: 4em;
}
input{
    margin: 1em;
    margin-bottom: 0.2em;
    width: 10%;
    padding: 10px;
    font-size: 2em;
    box-sizing: border-box;
    text-align: center;
    background-color: lime;
    color: black;
  }
#guessletters{
    font-size:1.5em;
    margin:2em;
}
#submitletter{
    color: black;
    margin: 1em;
}